body{
	background-image: url(https://media.giphy.com/media/l0NhWBSOHAMN8wBoY/giphy.gif);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gif{
	font-size: 3em;
	font-weight: bolder;
	color: white;
	margin: 5px;
	border-radius: 5px;
	background-image: url(https://media.giphy.com/media/9yMqaMRMMB1IY/giphy.gif);
}

.gif:hover{
	border: 2px solid black;
}

div.container.well.text-center{
	margin-bottom: 100px;
}